[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.ignore]
  command = "git diff --quiet HEAD^ HEAD -- frontend"